ProjectPsd_Frontend/Web References/ItemsWebReference/ItemWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMakeups">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMakeupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMakeupsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMakeupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMakeups" />
  </wsdl:message>
  <wsdl:message name="GetAllMakeupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMakeupsResponse" />
  </wsdl:message>
  <wsdl:portType name="ItemWebServiceSoap">
    <wsdl:operation name="GetAllMakeups">
      <wsdl:input message="tns:GetAllMakeupsSoapIn" />
      <wsdl:output message="tns:GetAllMakeupsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemWebServiceSoap" type="tns:ItemWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMakeups">
      <soap:operation soapAction="http://tempuri.org/GetAllMakeups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemWebServiceSoap12" type="tns:ItemWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMakeups">
      <soap12:operation soapAction="http://tempuri.org/GetAllMakeups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemWebService">
    <wsdl:port name="ItemWebServiceSoap" binding="tns:ItemWebServiceSoap">
      <soap:address location="https://localhost:44347/Webservices/ItemWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ItemWebServiceSoap12" binding="tns:ItemWebServiceSoap12">
      <soap12:address location="https://localhost:44347/Webservices/ItemWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>